/** @format */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgb(255, 51, 153);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 46px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/*Beating heart*/
#heart {
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 200px auto;
  position: relative;
  transform: rotate(45deg);
  -webkit-animation: example 0.3s linear 1s infinite alternate;
  z-index: 0;
}

#heart:after {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  content: "";
  top: 0px;
  left: -150px;
  background-color: red;
  box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  -webkit-animation: examp 0.5s linear 1s infinite alternate;
  /*border-top:1px solid rgba(213,9,60,1);
border-left:0px solid rgba(213,9,60,1);*/
  z-index: 2;
}

#heart:before {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  content: "";
  top: -150px;
  right: 0px;
  background-color: red;
  box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  -webkit-animation: examp 0.5s linear 1s infinite alternate;
  z-index: -1;
}

@-webkit-keyframes example {
  0% {
    -webkit-transform: scale(1, 1) rotate(45deg);
    box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  }

  100% {
    -webkit-transform: scale(1.1, 1.1) rotate(45deg);
    box-shadow: 0 0 40px rgba(213, 9, 60, .6);
  }
}

@-webkit-keyframes examp {
  0% {
    box-shadow: 0 0 40px rgba(213, 9, 60, 1);
  }

  100% {
    box-shadow: 0 0 40px rgba(213, 9, 60, .6);
  }
}

/* Heart css*/
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.heart {
  position: absolute;
  top: -50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -m-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.heart:before {
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:after {
  position: absolute;
  top: 0;
  right: -50%;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

@-webkit-keyframes love {
  0% {
    top: 110%
  }
}

@-moz-keyframes love {
  0% {
    top: 110%
  }
}

@-ms-keyframes love {
  0% {
    top: 110%
  }
}

@keyframes love {
  0% {
    top: 110%
  }
}

/* Overlay vingette */
.overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5),
      rgba(127, 127, 127, 0.5) 80%,
      rgba(0, 0, 0, 0.7));
  bottom: 0;
  display: -webkit-box;
  left: 0;
  padding: 20px;
  padding-bottom: 130px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
